# Copia este archivo como "keystore.properties" en la carpeta "android" (NO lo subas a git)
# Rutas recomendadas:
# - storeFile=app/keystore/release.jks
# - o una ruta absoluta fuera del repo

storeFile=app/keystore/release.jks
storePassword=CAMBIAR_ESTO
keyAlias=release
keyPassword=CAMBIAR_ESTO
